<div class="p_shop"> 
    <div class="well p_shop_in" >
      <ul class="nav nav-list">
        
        <li class="nav-header">
          <%= Shop.where(:shop_id => params[:shop_id]).name %>
        </li>
        <li class="active">
          <%=link_to "show products" ,shop_products_path(params[:shop_id]) %>
        </li>
        <li>
          <%=link_to "Generate Offer", new_shop_offer_path(params[:shop_id]) %>
        </li>
        <li>
          <%=link_to "Add product" ,new_shop_product_path %>
        </li>
        
      
      <ul>
      <li class="divider"></li>
        </ul>
        <li>Help</li>
        </ul>
    </div>        
</div>

<div class="alert alert-success margin_l" id="msg_shop"><%= flash[:notice]%></div>

<div class="back">
  <%= link_to "Back",users_path %>
</div>
