<h1>after sign in Admin you came here</h1>

<%=link_to "confirm pending request",:method => "get" %><br />

<%=link_to "show all users of the site", displayallusers_users_path, :method => "get" %><br />	
<%=link_to "Add items to the Category table" ,categories_path, :method => "get" %><br />
<%=link_to "cnacle user registration",cancel_user_registration_path, :method => "get" %><br />
<%=link_to "sign out" ,destroy_user_session_path, :method => "delete" %>
