<div class="well navp">
  <ul class="nav nav-list">
    <li class="nav-header">User Action</li>
    <li class="active">
      <%=link_to "Edit profile" ,edit_user_path(current_user), :method => "get" %>
    </li>  
    <li>
      <%=link_to "choose category for email" ,choose_categories_categories_path, :method => "get" %>
    </li>
    <li>
      <%=link_to "Show cart" ,carts_path, :method => "get" %>
    </li>
  </ul>
</div>    
<div class="v_searchbox">
  <%= form_for :search, url: show_products_users_path, method: :get, :class => "form-search" do |f| %>
    <%= f.text_field :search, :autofocus => true, :placeholder =>"Search by product name", :class=>"input-medium search-query text-field-height"%>
    <%= f.submit "Search", :class => "btn" %>
  <% end %>
</div>
  
<div class="alert alert-success" id="msg_visitors"><%= flash[:notice]%></div>
