<%= stylesheet_link_tag "custom" %>
<h3>This is visitors page </h3>
<%#= hidden_field(:object, :field, :value => @order)%>
<%#o debugger %>
<%=link_to "Edit profile" ,edit_user_path(current_user), :method => "get" %><br />

<%=link_to "Add to cart" %><br>

<%=link_to "choose category for email" ,choosecategories_categories_path, :method => "get" %><br />

<%=link_to "sign out" ,destroy_user_session_path, :method => "delete" %>

<center>
	<div>
		<%= label :'select category', 'Select Category'%>
	</div>
	<div>
	<%= select("category", "category_id", Category.all.collect {|r| [ r.name, r.id ] }, {:prompt => "select"},{:id => "cat"})%>	
	</div>
	<div id="catdata"> 
	</div>
</center>

<%#= button_to "Place order", :action => "/orders/show_cart_product",:method => "get"%>
<%#= button_to "place order", { :action => "show_cart_product", :controller => orders },
          :confirm => "Are you sure?", :method => :get %>

<%=link_to "place order" ,show_cart_product_orders_path, :method => "get" %>



<script type="text/javascript">
 $('#cat').change(function() {
  var cid = $(this).val();
  $.get( "/users/showproduct",{ id: cid }, function( data ) {
    $('#catdata').html(data);
  });
});
 </script>