<%= render "users/admin" %>
<div class="panel panel-default panelbox" >
  <div class="panel-heading"><h2>Users</h2></div>

    <div class="panel-body">
      <table class="table table-striped table table-bordered">
        <tr>
         <th>name</th>
         <th>email</th>
         <th>action</th>
        </tr>
        <% @users.each do |u|%>
        <tr>
          <td><%= u.first_name%></td>
          <td><%= u.email%></td>
          <%unless u.user_type == nil%>
          <td><%=link_to "Delete" ,user_path(u.id), :method => :delete %><br /></td>
          <%end%> 
        </tr>
        <% end%>
      </table>
    </div>
  </div>  
</div>
<div class="alert alert-success"><%= flash[:notice]%></div>
