
<% if current_user.user_type == "1" %>
<%= render "/users/visitors"%>
<% end %>

<% if current_user.user_type == "2" %>
<%= render "/users/shopkeeper"%>
<% end %>

<div class="rightbox">
  <%= form_for @user, url:user_path(current_user.id), method: :put, multipart: true, :class => "form-horizontal" do |f| %>
    
    
    <div class="form-group">
      <label class="col-sm-2 control-label">Firstname<span style="color:red">*</span></label>
      <div class="col-sm-10">
        <%= f.text_field :first_name, :autofocus => true, :placeholder =>"First Name",:class => "text-field-height",:id =>"fname" %>
      </div>
    </div>
    
    <div class="form-group">
     <label class="col-sm-2 control-label">Lastname<span style="color:red">*</span></label>   
      <div class="col-sm-10">
        <%= f.text_field :last_name, :placeholder => "Lirst Name",:class => "text-field-height",:id => "lname" %>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">Dateofbirth<span style="color:red">*</span></label>
      <div class="col-sm-10">
        <%= f.text_field :date_of_birth, :type => "date", :placeholder =>"30/05/1989",:class => "text-field-height",:id =>"dob"%>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">Gender</label>
      <div class="col-sm-10">
        <%= f.select(:gender, options_for_select([['Male', 1], ['Female', 2]], 1))%>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">Contact no.</label>
      <div class="col-sm-10">
        <%= f.text_field :phone_no, :type => "tel",:class => "text-field-height" %>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">Picture </label>
      <div class="col-sm-10">
        <%= f.fields_for :pictures do |p|%>
          <%= p.file_field :image %>
        <% end %>
       
      </div>
    </div> 
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Edit", :class => "btn btn-primary", :onclick => "return validateForm();" %>
        <%= f.button "cancle", :class => "btn btn-primary" %>
      </div>
    </div>
      
  <% end %>
  <div class="warning" id="msg"></div>
</div>


<script>
function validateForm()
{
var temp=true;
var fname = $("#fname").val();
var lname = $("#lname").val();
var dob = $("#dob").val();  
  if(fname=="" || lname=="" || dob=="")
  {
    temp=false;
    $("#msg").text("Fill all necessary (*) fields");
  }
  
  return temp;

}
</script>
