
<%= render "/users/visitors"%>
<div class="p_l_t">
  <% if @products.present? %>   
    <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    
    <div class="product_show">
      <ul>
        <% @products.each do |p| %>
          
          <li class="thumbnail product_show_thumbnail" >
              
              <div class="product_show_thumbnail_left">
                <img width='194' height='166' src="<%= p.pictures.first.image %>"><%= link_to "Add to cart", add_to_cart_cart_path(p.id), :remote => true%>
              </div>
              <div class="product_show_thumbnail_right">
                Name:<%= p.name %><br/>Price:<%= p.price %><br/>Info:<%= p.description %>
              </div>
          </li>
        <% end %>
      </ul>
    </div>  
    <div class="paginate_p">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div>    
  <% else%>
    <span class="label label-default">No product found</span>
  <% end %>
</div>
