<div style="text-align:center">
<h3>Enter users info</h3>
<%= form_for :order, url: orders_path, method: :post do |f| %>

  <div>
    <%#= f.hidden_field :shop_id, :value => params[:shop_id] %>
  </div>


  <div> <%= f.label :Name %>
    <%= f.text_field :name, :autofocus => true, :placeholder =>"Enter Name" %>
  </div><br />


  <div>
    <%= f.label :Address %>
  </div>
  
  <div>
    <%= f.text_area :delivery, :size => "10x10" %>
  </div>

  <div><%= f.label :contact %>
    <%= f.text_field :contact, :placeholder => "Mobile no." %>
  </div><br />

  <div>
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
</div>
<div style="position:absolute;top:45px;right:20px;">
<%=link_to "Back" ,show_cart_product_orders_path, :method => "get" %>
</div>
