<div style="text-align:center">
<h3>Enter users info</h3>
  <div style="background-color:gray;width:50%;height:74%;position:absolute;left:25%;border:5px solid black;">
    <%= form_for :order, url: orders_path, method: :post,:class => "form-horizontal" do |f| %>

      
        <%#= f.hidden_field :shop_id, :value => params[:shop_id] %>

      <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <%= f.text_field :name, :autofocus => true, :placeholder =>"Enter Name", :class => "text-field-height", :style=>"position: relative; right: 118px;" %>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <%= f.text_area :delivery, :size => "5x5", :style=>"position: relative; right: 118px;width:220px;" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">contact</label>
        <div class="col-sm-10">
          <%= f.text_field :contact, :placeholder => "Mobile no.", :class => "text-field-height", :style=>"position: relative; right: 118px;" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <%= f.submit "Submit", :class => "btn btn-primary",:style=>"position: relative; right: 86px;" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div style="position:absolute;top:45px;right:20px;">
<%=link_to "Back" ,show_cart_product_orders_path, :method => "get" %>
</div>
