
<%= render "/users/visitors" %>

  <div class="rightbox">
    <%= form_tag(savecategories_categories_path, method: "get") do %>

      <% @category.each do |c| %>
        
        <div style="width:22%;height:10%;float:left;margin:5px;border:1px solid gray;">
         
          <label class="checkbox-inline">
            <%= check_box_tag 'name_ids[]', c.id,:class => 'checkbox' %>
            <%= label_tag(:name, c.name) %>
          </label>
        </div>  
      <% end %>
      
      <br/>
      <br/>
      <div>
        <%= submit_tag("submit", :class => "btn btn-primary") %>
      </div>
    
    <%end%>
  </div>
 
  




