<h1>select the categories for the visitors and shopkeeper</h1>

<center>
<%= form_tag(savecategories_categories_path, method: "get") do %>

<% @category.each do |c| %>
<%= check_box_tag 'name_ids[]', c.id %>
<%= label_tag(:name, c.name) %>
<% end %>


<%= submit_tag("submit")%>

<%end%>

<%=link_to "Back" ,users_path %><br />

</center>