<div style="text-align:center;">

  <h3>select the categories for the visitors and shopkeeper</h3>
  <%= form_tag(savecategories_categories_path, method: "get") do %>

    <% @category.each do |c| %>

      <label class="checkbox-inline">
        <%= check_box_tag 'name_ids[]', c.id,:class => 'checkbox' %>
        <%= label_tag(:name, c.name) %>
      </label>
    <% end %>
    
    <br/>
    <br/>

    <div>
      <%= submit_tag("submit", :class => "btn btn-primary") %>
    </div>
  <%end%>

  <div style="position:absolute;top:45px;right:20px;">
    <%=link_to "Back" ,users_path %><br />
  </div>

</div>



