<%= render "/users/visitors" %>
<div class="rightbox">
  <%= form_tag(save_categories_categories_path, method: "get") do %>

    <% @categories.each do |c| %>
      <div class="choose_category">
        <label class="checkbox-inline">
          <%= check_box_tag 'name_ids[]', c.id,:class => 'checkbox' %>
          <%= label_tag(:name, c.name) %>
        </label>
      </div>  
    <% end %><br/><br/>
    <div>
      <%= submit_tag("submit", :class => "btn btn-primary") %>
    </div>
  <% end %>
</div>

  




