<center>
<h3> Enter the name of new category and press add</h3>

<%= form_for :category do |f| %>

  <div><%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %></div><br />

  
  <div><%= f.submit "Add" %></div><br />
<% end %>


<div style="position:absolute;top:45px;right:20px;">
<%=link_to "sign out" ,destroy_user_session_path, :method => "delete" %><br/>
<%=link_to "Back" , users_path %>
</div>




</center>
