

<div style="margin:auto;width:50%;background-color:grey;margin-top:50px;">
  <ul>
    <% @product.each do |p| %>
      <li class="thumbnail" style="display: inline-block;">
        <a href="#">
          <img width='194' height='166' src="<%= p.pictures.first.image %>" alt="..."> 
          <h4>Name :<%= p.name %> </h4>
          <h4>Price : <%= p.price %> </h4>
        </a>
       </li>
    <% end %>
  </ul>
</div>    

<div class="signin_search">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Search
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% category = Category.all %>
      <% category.each do |c| %>
      <li><%= link_to c.name, show_product_category_path(c.id) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="signout">
<%= link_to "Sign in", users_path%>
</div>
