<%= render "/users/admin"%>
<div class="t_center">
  <% if @products.present? %>
    <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
      <div class="product_div">
        <ul>
          <% @products.each do |p| %>
            <li class="thumbnail product_div_img">
                
                <div class="product_div_img_left">
                  <img width='194' height='166' src="<%= p.pictures.first.image %>"><%#= link_to "Add to cart", addtocart_cart_path(p.id), :method => "get",:remote => true%>
                </div>
                <div class="product_div_img_right">
                  Name:<%= p.name %><br/>Price:<%= p.price %><br/>Info:<%= p.description %>
                </div>
            </li>
          <% end %>
        </ul>
      </div>  
    <div class="set_margin">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div>
  <% else %>
    <h3>No product</h3>
  <% end %><br/><br/>
</div>

<div class="search">
  <%= form_for :search, url: search_result_shops_path, method: :get, :class => "form-search" do |f| %>
    <div>
      <%= hidden_field_tag "shop_id", params[:shop_id] %>    
    </div>
    <%= f.text_field :search, :autofocus => true, :placeholder =>"By Name", :class=>"input-medium search-query"%>
    <%= f.submit "Search", :class => "btn" %>
  <% end %>
</div>




<div class="signout">
  <%= link_to "Sign Out", users_path%>
</div>
