<%= render "/shops/shop" %>

<div class="center">
  <h3></h3>
  <% if @products.present? %>
    <div>
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div>    
    <div class="p_index">
      <ul>
        <% @products.each do |p| %>
          <li class="thumbnail p_index_thumbnail">
              <div class="p_index_thumbnail_left">
                <img width='194' height='166' src="<%= p.pictures.first.image %>">
                <% if user_signed_in? && current_user.user_type == "1" %>
                  <%= link_to "Add to cart", add_to_cart_cart_path(p.id), :method => "get", :remote => true %>
                <% end %>
              </div>
              <div class="p_index_thumbnail_right">
                Name:<%= p.name %><br/>
                Price:<%= p.price %><br/>
                Info:<%= p.description %>
              </div>
          </li>
        <% end %>
      </ul>
    </div> 
    <div class="s">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div>
  <% else %>
    <h3> No product added to the shop </h3>
  <% end %><br/><br/>
</div>
<div class="search">
  <%= form_for :search, url: search_result_shops_path, method: :get, :class => "form-search" do |f| %>
    <div>
      <%= hidden_field_tag "shop_id", params[:shop_id] %>    
    </div>
    <%= f.text_field :search, :autofocus => true, :placeholder =>"By Name", :class=>"input-medium search-query"%>
    <%= f.submit "Search", :class => "btn" %>
  <% end %>
</div>


 
