
<%= render "/shops/shop"%>

<div style="background-color:rgb(245,245,245);width:50%;height:450px;position:relative;left:37%;top:40px;border:5px solid black;">

  <%= form_for @product, url: shop_products_path, method: :post, :class => "form-horizontal" do |f| %>

    <div>
      <%= f.hidden_field :shop_id, :value => params[:shop_id] %>
    </div>


      <div class="form-group"> 
        <label class="col-sm-2 control-label">Name<span style="color:red">*</span></label>
        <div class="col-sm-10">
          <%= f.text_field :name, :autofocus => true, :placeholder =>"Product Name",:class => "text-field-height",:id => "name"%>
        </div>
      </div><br />


      <div class="form-group"> 
        <label class="col-sm-2 control-label">Category<span style="color:red">*</span></label>
        <div class="col-sm-10">
          <%= f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, {}, :multiple => true,:id =>"cate" %>
        </div>
      </div>

      <div class="form-group"> 
        <label class="col-sm-2 control-label">Price<span style="color:red">*</span></label>
        <div class="col-sm-10">
          <%= f.text_field :price, :placeholder => "price",:class => "text-field-height",:id =>"pric" %>
        </div>
      </div>

      <div class="form-group"> 
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <%= f.text_area :description, :size => "5x5",:placeholder => "Something about product" %> 
        </div>
      </div>
    
      <div class="form-group"> 
        <label class="col-sm-2 control-label">Picture<span style="color:red">*</span></label>
        <div class="col-sm-10">
          <%= f.fields_for :pictures do |pic| %>
          <%= pic.file_field :image ,:id => "imag"%>
          <% end %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Submit", :class => "btn btn-primary",:onclick => "return validateForm();" %>
          <%= f.button "Cancle", :class => "btn btn-primary" %>
        </div>
      </div>
      <div class="warning" id="show_msg"></div>
  <% end %>
</div>


<div class="search">
  <%= form_for :search, url: search_result_shops_path, method: :get, :class => "form-search" do |f| %>
    
    <div>
      <%= hidden_field_tag "shop_id", params[:shop_id] %>    
    </div>
    <%= f.text_field :search, :autofocus => true, :placeholder =>"By Name", :class=>"input-medium search-query"%>
    <%= f.submit "Search", :class => "btn" %>
  <% end %>
</div>

<script>
  
  function validateForm()
  {
    
    var temp=true;
    
    var name = $("#name").val();
    var cate = $("#cate").val();
    var pric = $("#pric").val();
    var imag = $("#imag").val();
    if(name=="" || cate=="" || pric=="" || imag=="")
    {
      $("#show_msg").text("Fill all necessary(*) fields");
      temp=false;
    }
    return temp;
  }
</script>
