<center><br/><br/>
<h3> Create product for shop </h3>
<%= form_for @product, url: shop_products_path, method: :post do |f| %>

  <div>
    <%= f.hidden_field :shop_id, :value => params[:shop_id] %>
  </div>


  <div> <%= f.label :'Product Name' %>
    <%= f.text_field :name, :autofocus => true, :placeholder =>"Product Name" %>
  </div><br />


  <div>
    <%= f.label :'Product Category' %>
  </div>
  <div>
    <%= f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
  </div>

  <div><%= f.label :'Product Price' %>
    <%= f.text_field :price, :placeholder => "price" %>
  </div><br />

  <div>
    <%= f.label :Description %>
    <%= f.text_area :description, :size => "10x10" %> 
  </div>
  
  <div>
    <%= f.label :picture %>
  </div>
  <div>
    <%= f.fields_for :pictures do |pic| %>
      <%= pic.file_field :image %>
    <% end %>
  </div><br />

  <div class="btn btn-primary"><%= f.submit "Submit", :class => "btn btn-default" %></div><br />
<% end %>

</center>

<div style="position:absolute;top:45px;right:20px;">
<%=link_to "sign out" ,destroy_user_session_path, :method => "delete" %><br/>
<%=link_to "Back" , shop_products_path(params[:shop_id]), :method => "get" %>
</div>
