
<div class="p_show">
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><%= @product.name %></td>
      <td><%= @product.price %></td>
      <td><%= @product.description %></td>
    </tr>
  </table>
</div>  

<div class="p_show_img">
  <img src="<%= @product.pictures.first.image %>" height="200" width="200">
</div>
<div class="back">
  <%= link_to "back", shop_products_path(params[:shop_id]) %>
</div>
